@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* font preloading (for canvas) */
.preload-font {
  position: absolute;
  z-index: -2;
  opacity: 0;
}
.NunitoSans {
  font-family: "Nunito Sans";
}
.Roboto {
  font-family: "Roboto";
}
/* Haiku visual */
#visualization, .flower-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 1em;
  text-align: center;
  transition: opacity 1s ease;
}