@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body, img, h1 {
  margin: 0;
  padding: 0;
}


body {
  position: relative;
  overflow-x: hidden;
  color: white;
  background: black;
  font-family: Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  max-width: 75em;
}
header {
  position: relative;
  width: 100%;
  padding: 0.5em 0.25em;
}
header > *:not(video) {
  cursor: default;
  position: relative;
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
  text-decoration: none;
  color: white;
}
header > video {
  z-index:-1;
  position: absolute;
  top: 14em;
  left: -2em;
  transform-origin: top left;
  transform: rotate(-90deg);
}
header > a {
  cursor: pointer;
  padding-top: 0.75em;
  color: lightgray;
}
header > a:hover {
  color: white;
  text-shadow: 0 0 0.125em #0059ff, 0 0 0.25em #0059ff, 0 0 0.5em #0059ff;
}
header h1 {
  display: inline-block;
  font: bold 2.125em Orbitron;
  letter-spacing: 0.0625em;
  vertical-align: top;
}
header img {
  filter: drop-shadow(0 0 0.25em #000) drop-shadow(0 0 0.25em #000) drop-shadow(0 0 0.25em #000);
}
header .page {
  display: inline-block;
  position: absolute;
  left: 2.5em;
  top: 1.25em;
  font: 1.75em Iceland;
  white-space: nowrap;
  letter-spacing: 0.0625em;
}
header #connection {
  font-size: 0.8125em;
  animation: flash-fade 2s infinite;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 36em;
  transform: translateX(-50%);
}
footer > .desc {
  text-align: right;
  font-size: 1.5em;
  font-family: "Indie Flower", "Segoe UI", Helvetica, Arial, sans-serif;
}
footer > .desc:before {
  content: '';
  float: right;
  width: 6em;
  height: 1em;
}
footer > .desc > a {
  color: white;
  font-size: 0.75em;
  text-decoration: none;
  white-space: nowrap;
}
footer > .desc > a:hover {
  text-shadow: 0 0 0.125em #000, 0 0 0.25em #fff, 0 0 0.5em #fff, 0 0 1em #fff;
}
footer > .desc > a:before {
  content: ' - ';
}

main {
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-width: 75em;
  width: 100vw;
  height: auto;
}
aside {
  display: inline-block;
  position: relative;
  top: 50%;
  width: 49%;
  text-align: center;
}
.info .strong {
  font-weight: bold;
  font-size: 2em;
}
.unfont {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

main div {
  text-align: left;
}

    
    
    .canvas-container {
      position: relative;
    }
    
    .canvas-container canvas {
      width: 300px;
      height: 300px;
    }
    
    /* Social Links Bar */
    .social {
      position: relative;
      z-index: 2;
      height: 2em;
      font-size: 1em;
      font-weight: bold;
      background: rgb(0,0,0);
      box-shadow: 0 0 1em #0059ff, inset 0 0 1em #0059ff, 0 0 1em #0059ff, inset 0 0 1em #0059ff, 0 0 1em #0059ff, inset 0 0 1em #0059ff;
    }

    .social:before,
    .social:after {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: white transparent transparent transparent;
    }

    .social:before {
      right: 50%;
      transform: translateX(-14em);
      border-width: 4em 3em 0 625em;
    }

    .social:after {
      left: 50%;
      transform: translateX(14em);
      border-width: 4em 625em 0 3em;
    }

    .social a {
      z-index: 3;
      position: relative;
      text-decoration: none;
    }
    
    .social a img {
      vertical-align: text-top;
      margin: 0 0.75em 0 0.75em;
    }
    .social a:hover img {
      filter:drop-shadow(0 0 1em #0059ff);
    }
    
    .chat-online {
      position: absolute;
      left: 3.25em;
      top: 2.25em;
      height: 1.125em;
    }
    
    /* standard css */
    .unselectable {
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    /* standard img sizez */
    .img-tiny {
      height: 1.75em;
    }
    .img-small {
      height: 2.5em;
    }
    .img-medium {
      height: 3.25em;
    }
    
    /* standard shadows */
    .shadow-text-small {
      text-shadow: 0 0 0.0625em black, 0 0 0.125em black, 0 0 0.25em black;
    }
    .shadow-text-medium {
      text-shadow: 0 0 0.25em black, 0 0 0.5em black, 0 0 1em black;
    }
    .shadow-text-large {
      text-shadow: 0 0 0.5em black, 0 0 1em black, 0 0 2em black;
    }
    .shadow-box-small {
      box-shadow: 0 0 0.0625em black, 0 0 0.125em black, 0 0 0.25em black;
    }
    .shadow-box-medium {
      box-shadow: 0 0 0.25em black, 0 0 0.5em black, 0 0 1em black;
    }
    .shadow-box-large {
      box-shadow: 0 0 0.5em black, 0 0 1em black, 0 0 2em black;
    }
    /* experimental */
    .pending:before, .pending:after {
      content: '[ ';
      animation: inherit;
    }
    .pending:after {
      content: ' ]';
    }
    .hexagon {
      display: inline-block;
      position: relative;
      height: 5em;
      width: 3em;
      background: black;
    }
    .hexagon button {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3em;
    }
    .hexagon:before, .hexagon:after {
      content:'';
      display:block;
      position:absolute;
      top:0;
      width: 0;
      height: 0;
      border-style: solid;
    }
    .hexagon:before {
      right: 100%;
      border-width: 2.5em 1.6em 2.5em 0;
      border-color: transparent black transparent transparent;
    }
    .hexagon:after {
      left: 100%;
      border-width: 2.5em 0 2.5em 1.6em;
      border-color: transparent transparent transparent black;
    }
    /* animations */
    @keyframes flash-fade {
      from, to { text-shadow: none; color: #fff; }
      20% {
        text-shadow: 
          0 0 0.125em #fff, 0 0 0.25em #fff, 0 0 0.5em #fff,
          0 0 0.25em black, 0 0 0.5em black, 0 0 1em black;
      }
    }
    @keyframes flash-fade-red {
      from, to { text-shadow: none; color: #f00; }
      20% {
        text-shadow: 
          0 0 0.125em #f00, 0 0 0.25em #f00, 0 0 0.5em #f00,
          0 0 0.25em black, 0 0 0.5em black, 0 0 1em black;
      }
    }
    @keyframes flash-fade-orange {
      from, to { text-shadow: none; color: #f80; }
      20% {
        text-shadow: 
          0 0 0.125em #f80, 0 0 0.25em #f80, 0 0 0.5em #f80,
          0 0 0.25em black, 0 0 0.5em black, 0 0 1em black;
      }
    }
    @keyframes flash-dim-green {
      from, to { text-shadow: none; color: #0f0; }
      20% {
        text-shadow:
          0 0 0.0625em #0f0, 0 0 0.125em #0f0, 0 0 0.25em #0f0,
          0 0 0.125em black, 0 0 0.25em black, 0 0 0.5em black;
      }
    }
}